@model CloudComputingUTN.WebApp.Models.ArtworkViewModel

@{
    ViewData["Title"] = "Edit";
}
<partial name="_Alert"/>
<h1>Edit</h1>

<h4>Artwork</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Artwork.ArtworkId" />
            <div class="form-group">
                <label asp-for="Artwork.ArtistId" class="control-label"></label>
                <select asp-for="Artwork.ArtistId" class="form-control" asp-items="ViewBag.ArtistId"></select>
                <span asp-validation-for="Artwork.ArtistId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artwork.ArtworkName" class="control-label"></label>
                <input asp-for="Artwork.ArtworkName" class="form-control" />
                <span asp-validation-for="Artwork.ArtworkName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artwork.ArtworkYear" class="control-label"></label>
                <input asp-for="Artwork.ArtworkYear" class="form-control" />
                <span asp-validation-for="Artwork.ArtworkYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artwork.ArtworkDescription" class="control-label"></label>
                <input asp-for="Artwork.ArtworkDescription" class="form-control" />
                <span asp-validation-for="Artwork.ArtworkDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artwork.ArtworkURL" class="control-label"></label>
                <input asp-for="Artwork.ArtworkURL" class="form-control" />
                <span asp-validation-for="Artwork.ArtworkURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
