@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>¡Bienvenido!</h1>
    <h2>Esta aplicaci&oacute;n es para probar las conexiones a la base de datos de MySQL en AWS RDS.</h2>
    <h3>Puedes modificar el código y a tu gusto</h3>
</div>
