@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>¡Bienvenido desde @ViewData["HostName"]!</h1>
    <h2>Esta aplicaci&oacute;n es para probar las conexiones a la base de datos de @ViewData["DatabaseEngine"].</h2>
    <h3>Puedes modificar el código y a tu gusto</h3>
    <h4>Prueba la <a href="https://localhost:7159/swagger" target="_blank">API</a></h4>
</div>
